@if (!this.stats) {
  <div class="position-absolute top-50 w-100 d-flex justify-content-center">
    <div class="w-75 p-5 card">
      <div class="card-body input-group">
        <button class="btn btn-outline-primary" (click)="loadExample()">Load Example</button>
        <label class="input-group-text" for="fileInput">Or upload BGG Catalog Export</label>
        <input id="fileInput"
               type="file"
               class="form-control"
               accept=".json"
               (change)="onFileLoad($any($event))">
      </div>
    </div>
  </div>
} @else {
  <div class="sticky-top bg-white d-flex gap-3 pt-2 pb-2">
    <div class="form-check">
      <input id="onlyMeCheckbox" type="checkbox" class="form-check-input" [(ngModel)]="onlyMe"/>
      <label for="onlyMeCheckbox" class="form-check-label">Only me?</label>
    </div>
    <div class="form-check">
      <input id="onlyOwnedCheckbox" type="checkbox" class="form-check-input" [(ngModel)]="onlyOwned"/>
      <label for="onlyOwnedCheckbox" class="form-check-label">Only owned?</label>
    </div>
  </div>
  <h4>Total Plays: {{ this.getPlays(this.stats).length }}/ Total Won: {{ this.getWins(this.getPlays(this.stats)) }}</h4>
  <h4>Gearloc Playrate</h4>
  <app-table
    [XAxis]="['Playrate']"
    [YAxis]="enumToNumberArray(Gearloc)"
    [YFormatter]="beautifyEnum.bind(this, Gearloc)"
    [getter]="gearlocPlayrateGetter.bind(this)"></app-table>
  <h4>Tyrant Playrate</h4>
  <app-table
    [XAxis]="['Playrate']"
    [YAxis]="enumToNumberArray(Tyrant)"
    [YFormatter]="beautifyEnum.bind(this, Tyrant)"
    [getter]="tyrantPlayrateGetter.bind(this)"></app-table>
  <h4>Gearloc Winrate</h4>
  <app-table
    [XAxis]="['Winrate']"
    [YAxis]="enumToNumberArray(Gearloc)"
    [YFormatter]="beautifyEnum.bind(this, Gearloc)"
    [cellClassGetter]="winrateCellClassGetter.bind(this)"
    [getter]="gearlocWinrateGetter.bind(this)"></app-table>
  <h4>Tyrant Winrate</h4>
  <app-table
    [XAxis]="['Winrate']"
    [YAxis]="enumToNumberArray(Tyrant)"
    [YFormatter]="beautifyEnum.bind(this, Tyrant)"
    [cellClassGetter]="winrateCellClassGetter.bind(this)"
    [getter]="tyrantWinrateGetter.bind(this)"></app-table>
  <h4>Tyrant - Gearloc</h4>
  <app-checklist
    [XAxis]="enumToNumberArray(Tyrant)"
    [XFormatter]="beautifyEnum.bind(this, Tyrant)"
    [YAxis]="enumToNumberArray(Gearloc)"
    [YFormatter]="beautifyEnum.bind(this, Gearloc)"
    [getter]="tyrantGearlocWonGetter.bind(this)"></app-checklist>
  <h4>Tyrant - Difficulty</h4>
  <app-checklist
    [XAxis]="enumToNumberArray(Tyrant)"
    [XFormatter]="beautifyEnum.bind(this, Tyrant)"
    [YAxis]="enumToNumberArray(Difficulty)"
    [YFormatter]="beautifyEnum.bind(this, Difficulty)"
    [getter]="tyrantDifficultyWonGetter.bind(this)"></app-checklist>
  <h4>Tyrant - Gearloc - (Winrate)</h4>
  <app-table
    [XAxis]="enumToNumberArray(Tyrant)"
    [XFormatter]="beautifyEnum.bind(this, Tyrant)"
    [YAxis]="enumToNumberArray(Gearloc)"
    [YFormatter]="beautifyEnum.bind(this, Gearloc)"
    [cellClassGetter]="winrateCellClassGetter"
    [getter]="tyrantGearlocWinrateGetter.bind(this)"></app-table>
  <h4>Plays</h4>
  @for (play of this.getPlays(this.stats); track play.Id) {
    <div class="card card-body">
      <p>Id: {{ play.Id }}</p>
      <p>Tyrant: {{ beautifyEnum(Tyrant, play.Tyrant) }}</p>
      <p>Difficulty: {{ beautifyEnum(Difficulty, play.Difficulty) }}</p>
      <p>Players: {{ play.Players.length }}</p>
      <ul>
        @for (player of play.Players; track player.Name) {
          <li>{{ player.Name }}: {{ beautifyEnum(Gearloc, player.Gearloc) }}</li>
        }
      </ul>
    </div>
  }
}
