@if (!this.stats) {
  <div class="position-absolute top-50 w-100 d-flex justify-content-center">
    <div class="w-75 p-5 card">
      <div class="card-body input-group">
        <label class="input-group-text" for="fileInput">Upload BGG Catalog Export here</label>
        <input id="fileInput"
               type="file"
               class="form-control"
               accept=".json"
               (change)="onFileLoad($any($event))">
      </div>
    </div>
  </div>
} @else {
  <div>
    <div class="sticky-top bg-white d-flex gap-3 ps-3">
      <div class="form-check">
        <input id="onlyMeCheckbox" type="checkbox" class="form-check-input" [(ngModel)]="onlyMe"/>
        <label for="onlyMeCheckbox" class="form-check-label">Only me?</label>
      </div>
      <div class="form-check">
        <input id="onlyOwnedCheckbox" type="checkbox" class="form-check-input" [(ngModel)]="onlyOwned"/>
        <label for="onlyOwnedCheckbox" class="form-check-label">Only owned?</label>
      </div>
    </div>
    <h4>Total Plays: {{ this.getPlays(this.stats).length }}</h4>
    <h4>Gearloc Playrate</h4>
    <app-table
      [XAxis]="['Playrate']"
      [YAxis]="enumToArray(Gearlocs)"
      [YFormatter]="this.formatter"
      [getter]="this.gearlocPlayrateGetter.bind(this)"></app-table>
    <h4>Tyrant Playrate</h4>
    <app-table
      [XAxis]="['Playrate']"
      [YAxis]="enumToArray(Tyrants)"
      [YFormatter]="this.formatter"
      [getter]="this.tyrantPlayrateGetter.bind(this)"></app-table>
    <h4>Gearloc Winrate</h4>
    <app-table
      [XAxis]="['Winrate']"
      [YAxis]="enumToArray(Gearlocs)"
      [YFormatter]="this.formatter"
      [cellClassGetter]="this.winrateCellClassGetter.bind(this)"
      [getter]="this.gearlocWinrateGetter.bind(this)"></app-table>
    <h4>Tyrant Winrate</h4>
    <app-table
      [XAxis]="['Winrate']"
      [YAxis]="enumToArray(Tyrants)"
      [YFormatter]="this.formatter"
      [cellClassGetter]="this.winrateCellClassGetter.bind(this)"
      [getter]="this.tyrantWinrateGetter.bind(this)"></app-table>
    <h4>Tyrant - Gearloc</h4>
    <app-checklist
      [XAxis]="enumToArray(Tyrants)"
      [XFormatter]="this.formatter"
      [YAxis]="enumToArray(Gearlocs)"
      [YFormatter]="this.formatter"
      [getter]="this.tyrantGearlocWonGetter.bind(this)"></app-checklist>
    <h4>Tyrant - Difficulty</h4>
    <app-checklist
      [XAxis]="enumToArray(Tyrants)"
      [XFormatter]="this.formatter"
      [YAxis]="enumToArray(Difficulty)"
      [YFormatter]="this.formatter"
      [getter]="this.tyrantDifficultyWonGetter.bind(this)"></app-checklist>
    <h4>Tyrant - Gearloc - (Winrate)</h4>
    <app-table
      [XAxis]="enumToArray(Tyrants)"
      [XFormatter]="this.formatter"
      [YAxis]="enumToArray(Gearlocs)"
      [YFormatter]="this.formatter"
      [cellClassGetter]="this.winrateCellClassGetter"
      [getter]="this.tyrantGearlocWinrateGetter.bind(this)"></app-table>
    <h4>Plays</h4>
    @for (play of this.getPlays(this.stats); track play.Id) {
      <div class="card card-body">
        <p>Id: {{ play.Id }}</p>
        <p>Tyrant: {{ this.formatter(Tyrants[play.Tyrant]) }}</p>
        <p>Difficulty: {{ this.formatter(Difficulty[play.Difficulty]) }}</p>
        <p>Players: {{ play.Players.length }}</p>
        <ul>
          @for (player of play.Players; track player.Name) {
            <li>{{ player.Name }}: {{ this.formatter(Gearlocs[player.Gearloc]) }}</li>
          }
        </ul>
      </div>
    }
  </div>
}
