td {
  &.check {
    background: var(--bs-success-bg-subtle);
  }
  &.incomplete {
    background: var(--bs-warning-bg-subtle);
  }
  &.empty {
    background: var(--bs-danger-bg-subtle);
  }
}

th {
  &.full {
    background: var(--bs-success);
  }
  &.incomplete {
    background: var(--bs-warning);
  }
  &.empty {
    background: var(--bs-danger);
  }
}
