table {
  width: min-content;
  border-spacing: 10px;
  border-collapse: separate;
  border-color: transparent;
}

// (All) Headers
th {
  & {
    width: min-content;
    // dont wrap text
    white-space: nowrap;
  }
  &.full {
    color: var(--bs-success);
  }
  &.incomplete {
    color: var(--bs-warning);
  }
  &.empty {
    color: var(--bs-danger);
  }
}

// Content Cells
td {
  & {
    width: 25px !important;
    height: 25px;
  }
  &.check {
    background: var(--bs-success-bg-subtle);
  }
  &.incomplete {
    background: var(--bs-warning-bg-subtle);
  }
  &.empty {
    background: var(--bs-danger-bg-subtle);
  }
}

// Header
thead {
  th {
    &:not(:first-child) {
      // make rows small
      max-width: 25px;

      // make the header high enough as its just rotated
      height: 10rem;
      padding: 0;

      & > span {
        display: block;
        // Upright text (INFO: this is a hack as ios does not support writing-mode: sideways-lr
        transform: translate(75%) rotate(295deg);
        transform-origin: bottom left;
      }
    }
  }
}
