<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col"></th>
    @for (x of XAxis; track x) {
      <th scope="col" [class]="this.getColumnClass(x)"><span>{{ this.getXHeader(x) }}</span></th>
    }
  </tr>
  </thead>
  <tbody>
    @for (y of YAxis; track y) {
      <tr>
        <th scope="row" [class]="this.getRowClass(y)"><span>{{ this.getYHeader(y) }}</span></th>
        @for (x of XAxis; track x) {
          <td [class]="this.getCellClass(x, y)"><span>{{ this.getValue(x, y) }}</span></td>
        }
      </tr>
    }
  </tbody>
</table>
