// play count
.badge {
  bottom: -0.7rem;
  // for each character move it further to the right
  left: calc(1rem + var(--length) * 0.1rem);
}

.number-card {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: var(--bs-secondary-bg-subtle);
  height: 100%;
  border-radius: var(--bs-border-radius);

  // card big number
  .title {
    color: black;
    font-size: large;
    font-weight: bold;
    text-align: center;
  }

  // card explanation
  .subtitle {
    color: green;
    text-transform: uppercase;
    text-align: center;
    font-size: smaller;
  }
}

.graph {
  display: flex;
  flex-direction: column;

  .title {
    text-align: center;
    font-weight: bold;
  }

  .inverse-bar {
    height: calc(100% - var(--ratio) * 1%);
  }
  .bar {
    height: calc(var(--ratio) * 1%);

    &.aggression {
      background: rgb(204, 48, 56);
    }
    &.leadership {
      background: rgb(43, 128, 237);
    }
    &.protection {
      background: rgb(16, 113, 22);
    }
    &.justice {
      background: rgb(228, 228, 0);
    }
    &.pool {
      background: rgb(212, 126, 178);
    }
  }
}
