<div class="p-3 m-0">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
      <div class="card" routerLink="/marvelchampions">
        <img src="./img/mc.png" class="card-img-top" alt="Marvel Champions Cover">
        <div class="card-body">
          <h5 class="card-title">Marvel Champions</h5>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="./img/tmb.png" class="card-img-top" alt="Too Many Bones Cover">
        <div class="card-body">
          <h5 class="card-title">Too Many Bones</h5>
        </div>
      </div>
    </div>
  </div>
</div>
