<div class="position-absolute top-50 w-100 d-flex justify-content-center">
  <div class="w-75 p-5 card">
    <div class="card-body">
      <h5 class="card-title">Convert BGG Catalog Plays to BG Stats</h5>
      <div class="input-group">
        <button class="btn btn-outline-primary" (click)="loadExample()">Load Example</button>
        <label class="input-group-text" for="fileInput">Upload BGG Catalog Export here</label>
        <input id="fileInput"
               type="file"
               class="form-control"
               accept=".json"
               (change)="onFileLoad($any($event))">
      </div>
    </div>
  </div>
</div>
