@if (!this.stats) {
  <div class="position-absolute top-50 w-100 d-flex justify-content-center">
    <div class="w-75 p-5 card">
      <div class="card-body input-group">
        <label class="input-group-text" for="fileInput">Upload BGG Collection Export here</label>
        <input id="fileInput"
               type="file"
               class="form-control"
               accept=".json"
               (change)="onFileLoad($any($event))">
      </div>
    </div>
  </div>
} @else {
  <div>
    <div class="sticky-top bg-white d-flex gap-3 ps-3">
      <div class="form-check">
        <input id="onlyMeCheckbox" type="checkbox" class="form-check-input" [(ngModel)]="onlyMe"/>
        <label for="onlyMeCheckbox" class="form-check-label">Only me?</label>
      </div>
      <div class="form-check">
        <input id="onlyOwnedCheckbox" type="checkbox" class="form-check-input" [(ngModel)]="onlyOwned"/>
        <label for="onlyOwnedCheckbox" class="form-check-label">Only owned?</label>
      </div>
    </div>
    <h4>Total Plays: {{ this.stats.Plays.length }}</h4>
    <h4>Hero Playrate</h4>
    <app-table
      [XAxis]="['Playrate']"
      [YAxis]="enumToArray(Heroes)"
      [YFormatter]="this.formatter"
      [getter]="this.heroPlayrateGetter.bind(this)"></app-table>
    <h4>Aspect Playrate</h4>
    <app-table
      [XAxis]="['Playrate']"
      [YAxis]="enumToArray(Aspects)"
      [getter]="this.aspectPlayrateGetter.bind(this)"></app-table>
    <h4>Scenario Playrate</h4>
    <app-table
      [XAxis]="['Playrate']"
      [YAxis]="enumToArray(Scenarios)"
      [YFormatter]="this.formatter"
      [getter]="this.scenarioPlayrateGetter.bind(this)"></app-table>
    <h4>Hero Winrate</h4>
    <app-table
      [XAxis]="['Winrate']"
      [YAxis]="enumToArray(Heroes)"
      [YFormatter]="this.formatter"
      [cellClassGetter]="this.winrateCellClassGetter.bind(this)"
      [getter]="this.heroWinrateGetter.bind(this)"></app-table>
    <h4>Aspect Winrate</h4>
    <app-table
      [XAxis]="['Winrate']"
      [YAxis]="enumToArray(Aspects)"
      [cellClassGetter]="this.winrateCellClassGetter.bind(this)"
      [getter]="this.aspectWinrateGetter.bind(this)"></app-table>
    <h4>Scenario Winrate</h4>
    <app-table
      [XAxis]="['Winrate']"
      [YAxis]="enumToArray(Scenarios)"
      [YFormatter]="this.formatter"
      [cellClassGetter]="this.winrateCellClassGetter.bind(this)"
      [getter]="this.scenarioWinrateGetter.bind(this)"></app-table>
    <h4>Hero - Aspect</h4>
    <app-checklist
      [XAxis]="enumToArray(Heroes)"
      [XFormatter]="this.formatter"
      [YAxis]="enumToArray(Aspects)"
      [getter]="this.heroAspectWonGetter.bind(this)"></app-checklist>
    <h4>Scenario - Hero</h4>
    <app-checklist
      [XAxis]="enumToArray(Scenarios)"
      [XFormatter]="this.formatter"
      [YAxis]="enumToArray(Heroes)"
      [YFormatter]="this.formatter"
      [getter]="this.scenarioHeroWonGetter.bind(this)"></app-checklist>
    <h4>Scenario - Aspect</h4>
    <app-checklist
      [XAxis]="enumToArray(Scenarios)"
      [XFormatter]="this.formatter"
      [YAxis]="enumToArray(Aspects)"
      [getter]="this.scenarioAspectWonGetter.bind(this)"></app-checklist>
    <h4>Scenario - Modular</h4>
    <app-checklist
      [XAxis]="enumToArray(Scenarios)"
      [XFormatter]="this.formatter"
      [YAxis]="enumToArray(Modulars)"
      [YFormatter]="this.formatter"
      [getter]="this.scenarioModuleWonGetter.bind(this)"></app-checklist>
    <h4>Scenario - Difficulty</h4>
    <app-checklist
      [XAxis]="enumToArray(Scenarios)"
      [XFormatter]="this.formatter"
      [YAxis]="enumToArray(Difficulty)"
      [YFormatter]="this.formatter"
      [getter]="this.scenarioDifficultyWonGetter.bind(this)"></app-checklist>
    <h4>Scenario - Hero - (Winrate)</h4>
    <app-table
      [XAxis]="enumToArray(Scenarios)"
      [XFormatter]="this.formatter"
      [YAxis]="enumToArray(Heroes)"
      [YFormatter]="this.formatter"
      [cellClassGetter]="this.winrateCellClassGetter"
      [getter]="this.scenarioHeroWinrateGetter.bind(this)"></app-table>
    <h4>Hero - Aspect (Winrate)</h4>
    <app-table
      [XAxis]="enumToArray(Heroes)"
      [XFormatter]="this.formatter"
      [YAxis]="enumToArray(Aspects)"
      [cellClassGetter]="this.winrateCellClassGetter"
      [getter]="this.heroAspectWinrateGetter.bind(this)"></app-table>
    <h4>Scenario - Aspect (Winrate)</h4>
    <app-table
      [XAxis]="enumToArray(Scenarios)"
      [XFormatter]="this.formatter"
      [YAxis]="enumToArray(Aspects)"
      [cellClassGetter]="this.winrateCellClassGetter"
      [getter]="this.scenarioAspectWinrateGetter.bind(this)"></app-table>
    <h4>Plays</h4>
    @for (play of this.stats.Plays; track play.Id) {
      <div class="card card-body">
        <p>Id: {{ play.Id }}</p>
        <p>Scenario: {{ this.formatter(Scenarios[play.Scenario]) }}</p>
        <p>Modular: {{ this.formatter(Modulars[play.Modular]) }}</p>
        <p>Difficulty: {{ this.formatter(Difficulty[play.Difficulty]) }}</p>
        <p>Players: {{ play.Players.length }}</p>
        <ul>
          @for (player of play.Players; track player.Name) {
            <li>{{ player.Name }}: {{ this.formatter(Heroes[player.Hero]) }} ({{ this.formatter(Aspects[player.Aspect]) }})</li>
          }
        </ul>
      </div>
    }
  </div>
}
