@if (!this.stats) {
  <div class="input-group">
    <label class="input-group-text" for="fileInput">Upload</label>
    <input id="fileInput"
           type="file"
           class="form-control"
           (change)="onFileLoad($any($event))">
  </div>
} @else {
  <div>
    Total Plays: {{this.stats.plays.length}}
    @for (play of this.stats.plays; track play.Id) {
      <div class="card card-body">
        <p>Id: {{ play.Id }}</p>
        <p>Scenario: {{ Scenarios[play.Scenario] }}</p>
        <p>Modular: {{ Modulars[play.Modular] }}</p>
        <p>Difficulty: {{ Difficulty[play.Difficulty] }}</p>
        <p>Players: {{ play.Players.length }}</p>
        <ul>
          @for (player of play.Players; track player.Name) {
            <li>{{ player.Name }}: {{ Heroes[player.Hero] }} ({{ Aspects[player.Aspect] }})</li>
          }
        </ul>
      </div>
    }
  </div>
}
