<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <span class="navbar-brand mb-0 fs-2">BGG Catalog Stats</span>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
            aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link pt-lg-3" routerLink="/" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pt-lg-3" routerLink="/viewer" routerLinkActive="active">Viewer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pt-lg-3" routerLink="/import" routerLinkActive="active">Import</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pt-lg-3" routerLink="/converter" routerLinkActive="active">Converter</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pt-lg-3" routerLink="/make-example" routerLinkActive="active">Make Example</a>
        </li>
        <li class="nav-item">
          <a class="nav-link pt-lg-3" routerLink="/help" routerLinkActive="active">Help</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" [href]="this.GithubLink">
            <img class="navbar-nav-svg" width="24" height="24" src="./img/github.svg" alt="GitHub logo">
            <small class="d-lg-none ms-2">GitHub</small>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="p-3 pt-0 m-0">
  <router-outlet></router-outlet>
</div>
