@if (!this.stats) {
  <div class="position-absolute top-50 w-100 d-flex justify-content-center">
    <div class="w-75 p-5 card">
      <div class="card-body input-group">
        <button class="btn btn-outline-primary" (click)="loadExample()">Load Example</button>
        <label class="input-group-text" for="fileInput">Upload BGG Catalog Export here</label>
        <input id="fileInput"
               type="file"
               class="form-control"
               accept=".json"
               (change)="onFileLoad($any($event))">
      </div>
    </div>
  </div>
} @else {
  <div class="sticky-top bg-white d-flex gap-3 pt-2 pb-2">
    <div class="form-check">
      <input id="onlyMeCheckbox" type="checkbox" class="form-check-input" [(ngModel)]="onlyMe"/>
      <label for="onlyMeCheckbox" class="form-check-label">Only me?</label>
    </div>
    <div class="form-check">
      <input id="onlyOwnedCheckbox" type="checkbox" class="form-check-input" [(ngModel)]="onlyOwned"/>
      <label for="onlyOwnedCheckbox" class="form-check-label">Only owned?</label>
    </div>
  </div>
  <h4>Total Plays: {{ this.getPlays(this.stats).length }}/ Total Won: {{ this.getWins(this.getPlays(this.stats)) }}</h4>
  <h4>Hero Playrate</h4>
  <app-table
    [XAxis]="['Playrate']"
    [YAxis]="enumToArray(Hero)"
    [YFormatter]="this.formatter"
    [getter]="this.heroPlayrateGetter.bind(this)"></app-table>
  <h4>Aspect Playrate</h4>
  <app-table
    [XAxis]="['Playrate']"
    [YAxis]="enumToArray(Aspect)"
    [getter]="this.aspectPlayrateGetter.bind(this)"></app-table>
  <h4>Scenario Playrate</h4>
  <app-table
    [XAxis]="['Playrate']"
    [YAxis]="enumToArray(Scenario)"
    [YFormatter]="this.formatter"
    [getter]="this.scenarioPlayrateGetter.bind(this)"></app-table>
  <h4>Hero Winrate</h4>
  <app-table
    [XAxis]="['Winrate']"
    [YAxis]="enumToArray(Hero)"
    [YFormatter]="this.formatter"
    [cellClassGetter]="this.winrateCellClassGetter.bind(this)"
    [getter]="this.heroWinrateGetter.bind(this)"></app-table>
  <h4>Aspect Winrate</h4>
  <app-table
    [XAxis]="['Winrate']"
    [YAxis]="enumToArray(Aspect)"
    [cellClassGetter]="this.winrateCellClassGetter.bind(this)"
    [getter]="this.aspectWinrateGetter.bind(this)"></app-table>
  <h4>Scenario Winrate</h4>
  <app-table
    [XAxis]="['Winrate']"
    [YAxis]="enumToArray(Scenario)"
    [YFormatter]="this.formatter"
    [cellClassGetter]="this.winrateCellClassGetter.bind(this)"
    [getter]="this.scenarioWinrateGetter.bind(this)"></app-table>
  <h4>Hero - Aspect</h4>
  <app-checklist
    [XAxis]="enumToArray(Hero)"
    [XFormatter]="this.formatter"
    [YAxis]="enumToArray(Aspect)"
    [getter]="this.heroAspectWonGetter.bind(this)"></app-checklist>
  <h4>Scenario - Hero</h4>
  <app-checklist
    [XAxis]="enumToArray(Scenario)"
    [XFormatter]="this.formatter"
    [YAxis]="enumToArray(Hero)"
    [YFormatter]="this.formatter"
    [getter]="this.scenarioHeroWonGetter.bind(this)"></app-checklist>
  <h4>Scenario - Aspect</h4>
  <app-checklist
    [XAxis]="enumToArray(Scenario)"
    [XFormatter]="this.formatter"
    [YAxis]="enumToArray(Aspect)"
    [getter]="this.scenarioAspectWonGetter.bind(this)"></app-checklist>
  <h4>Scenario - Modular</h4>
  <app-checklist
    [XAxis]="enumToArray(Scenario)"
    [XFormatter]="this.formatter"
    [YAxis]="enumToArray(Modular)"
    [YFormatter]="this.formatter"
    [getter]="this.scenarioModuleWonGetter.bind(this)"></app-checklist>
  <h4>Scenario - Difficulty</h4>
  <app-checklist
    [XAxis]="enumToArray(Scenario)"
    [XFormatter]="this.formatter"
    [YAxis]="enumToArray(Difficulty)"
    [YFormatter]="this.formatter"
    [getter]="this.scenarioDifficultyWonGetter.bind(this)"></app-checklist>
  <h4>Scenario - Hero - (Winrate)</h4>
  <app-table
    [XAxis]="enumToArray(Scenario)"
    [XFormatter]="this.formatter"
    [YAxis]="enumToArray(Hero)"
    [YFormatter]="this.formatter"
    [cellClassGetter]="this.winrateCellClassGetter"
    [getter]="this.scenarioHeroWinrateGetter.bind(this)"></app-table>
  <h4>Hero - Aspect (Winrate)</h4>
  <app-table
    [XAxis]="enumToArray(Hero)"
    [XFormatter]="this.formatter"
    [YAxis]="enumToArray(Aspect)"
    [cellClassGetter]="this.winrateCellClassGetter"
    [getter]="this.heroAspectWinrateGetter.bind(this)"></app-table>
  <h4>Scenario - Aspect (Winrate)</h4>
  <app-table
    [XAxis]="enumToArray(Scenario)"
    [XFormatter]="this.formatter"
    [YAxis]="enumToArray(Aspect)"
    [cellClassGetter]="this.winrateCellClassGetter"
    [getter]="this.scenarioAspectWinrateGetter.bind(this)"></app-table>
  <h4>Plays</h4>
  @for (play of this.getPlays(this.stats); track play.Id) {
    <div class="card card-body">
      <p>Id: {{ play.Id }}</p>
      <p>Scenario: {{ this.formatter(Scenario[play.Scenario]) }}</p>
      <p>Modular: {{ this.formatEnumList(Modular, play.Modulars) }}</p>
      <p>Difficulty: {{ this.formatter(Difficulty[play.Difficulty]) }}</p>
      <p>Players: {{ play.Players.length }}</p>
      <ul>
        @for (player of play.Players; track player.Name) {
          <li>{{ player.Name }}: {{ this.formatter(Hero[player.Hero]) }} ({{ this.formatEnumList(Aspect, player.Aspects) }})
          </li>
        }
      </ul>
    </div>
  }
}
