<h2>About</h2>
<p>This website was made for use with the BGG Catalog app available for
  <a href="https://play.google.com/store/apps/details?id=com.gadestudios.boardgame">Android</a> and
  <a href="https://apps.apple.com/us/app/bgg-catalog/id1558147475">iOS</a>.<br>
  The main purpose of this website is to show the user more detailed insights into their plays.<br>
  Your files are never uploaded by this site and are only processed locally.
</p>
<h2>How to use</h2>
<h3>Create custom fields</h3>
<p>
  To create more detailed insights into your plays you need to store extra data for each play. You can use the custom
  fields feature
  for that. To create a custom field go into the "More" tab > Custom Fields OR into a play > "More information" tab >
  Create field (under Custom Fields).<br>
  Your fields have to have the same name (non case-sensitive) as the ones listed below and be assigned to the correct
  game (may be assigned to more than that).
  All fields unless other specified are "Text"/"List of values" (which are also saved as Text) fields.
  For plays fields you can check "Display in the list of players" to easily see and edit the fields for every game
  instead of going to the "More information" tab.
</p>
<p>
  You need to have the following fields for the following games:
</p>
<h4>Marvel Champions</h4>
Play fields:
<ul>
  <li>Scenario</li>
  <li>Modular (or <b>Modulars</b>*)</li>
  <li>Difficulty</li>
</ul>
Player fields:
<ul>
  <li>Hero</li>
  <li>Aspect (or <b>Aspects</b>*)</li>
</ul>
<p>
  * As you can have multiple Modulars and Aspects I added a second Text field that can be filled with a comma seperated
  list of values. This will have precedence over the default field.
</p>
<h4>Too Many Bones</h4>
Play fields:
<ul>
  <li>Tyrant</li>
  <li>Difficulty</li>
</ul>
Player fields:
<ul>
  <li>Gearloc</li>
</ul>
<h3>Export and upload your plays</h3>
<p>
  For most (if not all) games this website requires you to export and upload your plays.
  To do this you need to go to the settings: Go to the "Home" tab and press the cog symbol in the top right.<br>
  To create a backup: Backups > Create backup > Text Only.<br>
  To access the backup: Backups > See Backups > Press the three little dots next to the backup > Share and save it to
  your device.<br>
  The interesting file here is the "BGGCatalog-Export_&lt;Date&gt;-&lt;Time&gt;.json".
  To see your stats, go to the corresponding game page here and upload that file.
</p>
<h3>Other questions</h3>
<p>If you have any other questions, issues or feature requests, ask them <a [href]="GithubLink">on GitHub</a></p>
