@if (!this.stats) {
  <app-base-upload-selection
    title="Play Viewer"
    [(selectedTool)]="selectedTool"
    (loadExample)="loadExample()"
    (onFileLoad)="onFileLoad($event)"
  ></app-base-upload-selection>
} @else {
  <h4>Total Plays: {{ this.getPlays(this.stats).length }}/ Total Won: {{ this.getWins(this.getPlays(this.stats)) }}</h4>
  <div class="row">
    <label class="col-1 col-form-label col-form-label-sm" for="filter">Filter</label>
    <input type="text" class="col form-control form-control-sm" id="filter" [(ngModel)]="filterText" placeholder="i.e. play.Players.length == 1">
  </div>
  <div class="row">
    <label class="col-1 col-form-label col-form-label-sm" for="sort">Sorting</label>
    <select type="text" class="col form-select form-select-sm" id="sort" [(ngModel)]="sort">
      <option ngValue="name">Name</option>
      <option ngValue="date">Date</option>
    </select>
      <input class="btn-check" type="checkbox" id="sortAscending" [(ngModel)]="sortAscending">
      <label class="col-1 btn btn-outline-primary" for="sortAscending">
        Ascending
      </label>
  </div>
  <h4>Plays</h4>
  @for (play of this.getPlays(this.stats); track play.Id) {
    <div class="card card-body">
      <p>Game: {{ play.Game }} ({{ play.GameId }})</p>
      <p>Id: {{ play.Id }}</p>
      <p>Timestamp: {{ play.Timestamp }}</p>
      <p>Players: {{ play.Players.length }}</p>
      <ul>
        @for (player of play.Players; track player.Name) {
          <li>{{ player.Name }}: {{player.Roles}}</li>
        }
      </ul>
      <p>Won: {{ play.Won }}</p>
      <p>Time: {{ formatDurationMinutes(play.Duration) }}</p>
      <p>Data: {{ play.Data }}</p>
      @if (play.Notes) {
        <p>Comments: {{ play.Notes }}</p>
      }
    </div>
  }
}
