<h4>Total Plays: {{ this.getPlays(this.stats).length }}/ Total Won: {{ this.getWins(this.getPlays(this.stats)) }}</h4>
<div class="input-group">
  <label class="input-group-text" for="filter">Filter</label>
  <input type="text" class="col form-control form-control-sm" id="filter" [(ngModel)]="filterText"
         placeholder="i.e. play.Players.length == 1">
  <button class="btn btn-primary" (click)="openDocs()">?</button>
</div>
<div class="input-group">
  <label for="sort" class="input-group-text">Sorting</label>
  <select type="text" class="col form-select form-select-sm" id="sort" [(ngModel)]="sort">
    <option ngValue="name">Name</option>
    <option ngValue="duration">Duration</option>
    <option ngValue="date">Date</option>
    <option ngValue="location">Location</option>
  </select>
  <input #ascendingCheckbox class="btn-check" type="checkbox" id="sortAscending" [(ngModel)]="sortAscending">
  <label class="col-1 btn btn-outline-primary" for="sortAscending">
    {{ ascendingCheckbox.checked ? 'Ascending' : 'Descending' }}
  </label>
</div>
<h4>Plays</h4>
@for (play of this.getPlays(this.stats); track play.Id) {
  <div class="card card-body">
    <p>Game: {{ play.Game }} ({{ play.GameId }})</p>
    <p>Id: {{ play.Id }}</p>
    <p>Timestamp: {{ play.Timestamp }}</p>
    <p>Players: {{ play.Players.length }}</p>
    <ul>
      @for (player of play.Players; track player) {
        <li>{{ player.Name }}: {{ player.Roles }}</li>
      }
    </ul>
    <p>Won: {{ play.Won }}</p>
    <p>Time: {{ formatDurationMinutes(play.Duration) }}</p>
    <p>Location: {{ play.Location }}</p>
    <p>Data: {{ play.Data }}</p>
    @if (play.Notes) {
      <p>Comments: {{ play.Notes }}</p>
    }
  </div>
}
